<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navigation.ejs')%>
    <main class="vh-100 container pt-2 text-center justify-content-center align-items-center d-flex">
        <section>
            <h1 class="ms-2 mt-3">About me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi magni impedit ea odio sapiente voluptatum rerum dolorum enim, optio quis minus perferendis inventore harum dignissimos reprehenderit magnam numquam, possimus similique adipisci, quas recusandae ipsum. Voluptatibus sed deleniti qui corporis eligendi, quaerat eius quo totam sapiente minus praesentium ut labore itaque dolor laborum ratione, repudiandae odit error! In quas reiciendis optio nemo sunt ab neque, suscipit mollitia beatae sit non officia perspiciatis voluptas doloribus iste odit culpa a tenetur aliquid. Explicabo omnis veniam ratione consectetur vero, voluptatibus suscipit reprehenderit et dolor accusantium obcaecati numquam, similique nostrum beatae tenetur sequi consequuntur repellat id impedit nihil ducimus pariatur dolorem. Possimus itaque tenetur provident voluptates voluptatibus, quas perspiciatis! Corporis nemo eius ad qui ut, accusantium itaque officiis obcaecati optio provident exercitationem nisi adipisci facere vitae vero. Maiores tempore quos labore saepe! Quidem incidunt eveniet doloremque saepe molestiae nostrum cupiditate ratione distinctio quas, officia laboriosam reprehenderit qui sit minima sed quod odit et delectus sint animi ipsa aspernatur impedit vitae minus. Dolorum modi, impedit ut magni culpa doloribus asperiores ab quas at, neque nesciunt totam. Sint distinctio temporibus id dolores dolorum at illo dicta iste aliquid amet. Dolores, eum ex repudiandae dicta maiores repellat vel dolorum praesentium saepe modi assumenda id perspiciatis aliquid consequuntur nisi delectus qui? Dolorem dolores voluptatibus cumque repellat quod ipsa eos ut excepturi, recusandae iusto non, sint illo blanditiis voluptate laudantium iste debitis delectus sunt obcaecati veritatis. Officia voluptas beatae corporis quo incidunt quam vero vel dolorem ab saepe ea, earum ratione ad fugit cupiditate commodi non corrupti reiciendis vitae nobis at provident praesentium. Voluptatem mollitia laboriosam odio minima possimus dolores incidunt vel ea quaerat inventore ullam recusandae consectetur, est obcaecati, nemo explicabo libero veniam aperiam et architecto officia temporibus? Quis architecto odio ad assumenda sed eaque eius sequi fuga adipisci.</p>
        </section>
    </main>

    <%- include('partials/scripts.ejs') %>
</body>
</html>