<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/navigation.ejs')%>

    <!-- Main content -->

    <header
      class="container justify-content-center align-items-center vh-100 d-flex"
    >
      <div class=" d-flex flex-column justify-content-center align-items-center">
        <img src="/img/profile.jpg" class="w-50 img-profile" alt="Yunagosh" />
        <h1 class="display-flex my-5 text-uppercase fw-bold">Yunagosh</h1>
        <a href="/about" class="btn btn-primary w-50">About</a>
      </div>
    </header>

    <%- include('partials/footer.ejs')%>
    <%- include('partials/scripts.ejs') %>
  </body>
</html>
