<footer class="container text-center p-4">
    <p class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia harum vero suscipit atque omnis provident velit ex excepturi, ad expedita sequi eum molestias fugiat explicabo temporibus hic. Totam, modi sunt.</p>
</footer>